body {
  background-color: rgb(38 38 38) !important;
  display: flex;
  flex-direction: row;
}

#overlay {
  width: 31rem;
}
.color-setting-description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
  margin: 1rem 1rem;
}
.color-setting {
  font-family: 'Noto Serif JP', serif;
  width: calc(100% - 30rem);
  overflow-y: scroll;
  background-color: rgb(38 38 38);
}
.input-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-area-left {
  display: flex;
  align-items: center;
  width: 14rem;
}
.s-c-text{
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 14rem);
}
.s-c-text-inport {
  display: flex;
  background-color: transparent;
  color: #ded7be;
  border: 0px;
  border-bottom: 0.1rem solid #ded7be;
  text-align: end;
}
[class^="s-c-color"], [class*="s-c-color"]{
  border: 0.1rem  solid white;
  width: 2rem;
  height: 0.8rem;
  margin: 0rem 0.5rem;
  display: flex;
}
.color-reset {
  width: 100%;
  margin: 0rem 1rem;
  color: #ded7be;
  background-color: brown;
}
.color-import-textbox{
  background-color: transparent;
  height: 4rem;
  border: 0.1rem solid #ded7be;
  color: #ded7be;
}
.color-import {
  background-color: blueviolet;
  color: #ded7be;
}
input[type='radio']{

}
.sample-change {
  display: flex;
  justify-content: center;
}
