<style >
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
html {
    background-position: bottom right;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 100%;
}

#overlay {
    font-family: 'Noto Sans JP', sans-serif;
    color: #ded7be;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#source {
    display: none;
}
body {
  margin: 0;
}
ol {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}
li {
    display: flex;
    flex-direction: row;
    margin: 1.5px;
    border-radius: 1px;
}
button {
    display: flex;
    position: absolute;
    border: none;
    margin-left: 10px;
    margin-top: 5px;
    opacity: 0;
    width: 70px;
}

li .dpsjob{
  display: flex;
  flex-direction: column;
}
li .robotdps{
  text-align: right;
  font-size: 13px;
}
li .dps {
    /*display: inline-block;*/
    color: #ded7be;
    width: 70px;
    text-align: right;
    font-size: 18px;
}

li .job-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

li .detail {
    display: flex;
    flex-direction: column;
    color: #ded7be;
    font-size: 12px;
    width: calc(100% - 100px);
    margin-right: 4px;
}
li .title{
  display: flex;
}
li .name {
    display: flex;
    width: 100%;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}
li .number {
    display: flex;
    flex-direction: row-reverse;
    color: #ded7be;
    float: right;
    font-size: 13px;
}

li .data1 {
    display: flex;
    flex-direction: row-reverse;
    color: #ded7be;
    float: right;
    font-size: 12px;
    width: 33px;
}

li .data2 {
    display: flex;
    flex-direction: row-reverse;
    color: #ded7be;
    float: right;
    font-size: 12px;
    width: 33px;
}

li .data3 {
    display: flex;
    flex-direction: row-reverse;
    color: #ded7be;
    float: right;
    font-size: 12px;
    width: 33px;
}

li .Robot {
    display: flex;
    width: auto;
}


li .bar {
    /*display: inline-block;*/
    height: 4px;
    background-color: rgba(157,145,101,0.7);
}

.inactive li .bar {
    background-color: #d8dadb;
}
li.aliance0{
  border-left: 4px solid rgba(0,0,0,0);
}
li.aliance1{
  border-left: 4px solid #0D7094;
}
li.aliance2{
  border-left: 4px solid #9333AC;
}
li.aliance3{
  border-left: 4px solid #00BC69;
}
li.aliance4{
  border-left: 4px solid #FCDB4C;
}
li.aliance5{
  border-left: 4px solid #FF4B18;
}
li.aliance6{
  border-left: 4px solid #FF9728;
}
li.party {
    background-color: rgba(37,92,80,0.5);
}

li.me {
    background-color: rgba(93,81,37,0.7);
}

li.robot {
    background-color: rgba(20,94,7,0.2);
}

</style >
