<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
html {
    background-position: bottom right;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 100%;
}

#overlay {
    font-family: 'Noto Sans JP', sans-serif;
    color: #ded7be;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#source {
    display: none;
}
#setting {
  font-family: 'Noto Sans JP', sans-serif;
  color: #ded7be;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  display: none;
  flex-direction: column;
  overflow: hidden;
}
.setting h3 {
  font-size: 1.5rem;
  border-bottom: 7px double #ccc;
  text-align: center;
  margin: 1rem auto;
  width: -webkit-fill-available;
}
.setting .item-frame {
  width: -webkit-fill-available;
  margin: 1rem auto;
  display: flex;
  flex-direction: row-reverse;
}
.setting .version{
  width: -webkit-fill-available;
  position: relative;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting .text-frame {
  width: -webkit-fill-available;
  margin: 1rem auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row-reverse;
}
.setting .text {
  vertical-align: middle;
  width: 80%;
  position: absolute;
  left: 10px;
}
.setting .sound_link{
  display: flex;
  background-color: transparent;
  color: #ded7be;
  font-size: unset;
  position: relative;
  right: 10px;
  width: calc(100% - 67px);
  top: 28px;
}
.setting .text-textbox {
  vertical-align: middle;
  min-width: 115px;
  position: absolute;
  left: 10px;
}
.setting .apply{
  border-radius: 22px;
  position: relative;
  right: 5px;
  top: 28px;
  font-size: 10pt;
  background-color: darkslategray;
  padding: 5px;
}
.setting .reset{
  border-radius: 22px;
  position: relative;
  right: 5px;
  font-size: 10pt;
  background-color: darkslategray;
  padding: 5px;
}

.setting label {
  cursor: pointer;
}
.setting .switch {
  position: absolute;
  width: 17%;
  min-width: 55px;
}
.setting .switch:before, .setting .switch:after {
  content: '';
  vertical-align: middle;
  display: inline-block;
}
.setting .switch:before {
  width: 2em;
  height: 1em;
  border: 2px solid #C4C9FF;
  border-radius: 32px;
  background: #999;
}
.setting .switch:after {
  position: relative;
  width: 1em;
  height: 1em;
  background:#C4C9FF;
  border-radius: 50%;
  left: -2.2em;
}
.setting input.checkbox {
  display: none;
}
.setting input.textbox{
  background-color: transparent;
  color: #ded7be;
  font-size: unset;
  position: absolute;
  right: 5px;
  width: calc(100% - 125px);
}
.setting input.input-number {
  background-color: transparent;
  color: #ded7be;
  width: 17%;
  border: none;
  font-size: unset;
  position: absolute;
  right: 5px;
}
.setting input:checked ~ .switch:before {
  background:#00b715;
  border-color:#84ff92;
}

.setting input:checked ~ .switch:after {
  background:#84ff92;
  left: -1.1em;
}


body {
  margin: 0;
  user-select: none;
}
ol {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}
li {
    display: flex;
    flex-direction: row;
    margin: 1.5px;
    border-radius: 1px;
}
div.topbtn {
  display: flex;
}
button.hidden-button-1{
  display: none;
}
button.hidden-button-2{
  display: none;
}
button.hidden-button-3{
  display: none;
}
button.hidden-button-4{
  display: none;
}
button.sortbtn {
    display: flex;
    position: absolute;
    border: none;
    left: 10px;
    top: 5px;
    opacity: 0;
    width: 70px;
}
button.setbtn{
  display: flex;
  position: absolute;
  opacity: 0;
  background-color: transparent;
  border: none;
  top: 5px;
  right: 5px;
  width: 60px;
  height: 18px;
}
button .arrow{
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 5px solid;
  border-color: #ded7be #ded7be transparent transparent;
  transform: rotate(-45deg);
}
li .dpsjob{
  display: flex;
  flex-direction: column;
}
li .robotdps{
  text-align: right;
  font-size: 13px;
}

li .dps {
    /*display: inline-block;*/
    color: #ded7be;
    width: 70px;
    text-align: right;
    font-size: 18px;
}

li .job-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

li .detail {
    display: flex;
    flex-direction: column;
    color: #ded7be;
    font-size: 12px;
    width: calc(100% - 100px);
    margin-right: 4px;
}
li .title{
  display: flex;
}
li .name {
    display: flex;
    width: 100%;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}
li .number {
    display: flex;
    flex-direction: row-reverse;
    color: #ded7be;
    float: right;
    font-size: 13px;
}

li .data1 {
    display: flex;
    flex-direction: row-reverse;
    color: #ded7be;
    float: right;
    font-size: 12px;
    width: 33px;
}

li .data2 {
    display: flex;
    flex-direction: row-reverse;
    color: #ded7be;
    float: right;
    font-size: 12px;
    width: 33px;
}

li .data3 {
    display: flex;
    flex-direction: row-reverse;
    color: #ded7be;
    float: right;
    font-size: 12px;
    width: 33px;
}

li .Robot {
    display: flex;
    width: auto;
}


li .bar {
    /*display: inline-block;*/
    height: 4px;
    background-color: rgba(157,145,101,0.7);
}

.inactive li .bar {
    background-color: #d8dadb;
}
li.aliance0{
  border-left: 4px solid rgba(0,0,0,0);
}
li.aliance1{
  border-left: 4px solid #25F5F4;
}
li.aliance2{
  border-left: 4px solid #72A873;
}
li.aliance3{
  border-left: 4px solid #A8451E;
}
li.aliance4{
  border-left: 4px solid #F5C9B8;
}
li.aliance5{
  border-left: 4px solid #A81489;
}
li.aliance6{
  border-left: 4px solid #F5B8E8;
}
li.party {
    background-color: rgba(37,92,80,0.5);
}

li.me {
    background-color: rgba(93,81,37,0.7);
}

</style >
