/*
https://fonts.google.com/share?selection.family=Lexend%20Deca%7CMartel:wght@600%7CRoboto
https://fonts.google.com/share?selection.family=Bebas%20Neue%7CLexend%20Deca%7CNoto%20Serif%20JP:wght@500%7CRoboto
font-family: 'Bebas Neue', cursive;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Roboto', sans-serif;
*/
:root {
  --general-role-color : #ded7be;
  --tank-role-color : #7586e0;
  --healer-role-color : #76ab67;
  --melee-role-color : #ad6161;
  --physical-role-color : #ad6161;
  --magical-role-color : #ad6161;
  --aliance-color-general : transparent;
  --aliance-color-1 :#5BB7E5;
  --aliance-color-2 :#895BE5;
  --aliance-color-3 :#E55BB7;
  --aliance-color-4 :#E5895B;
  --aliance-color-5 :#B7E55B;
  --aliance-color-6 :#5BE589;
  --aliance-color-10 :transparent;
}
html {
    background-position: bottom right;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
    /*
    background-color: rgba(0,0,0,1);
    /*
    background-color: rgba(0,0,0,0.3);
    */
    color: #ded7be;
    font-family: 'Roboto', sans-serif;

}
::-webkit-scrollbar {
  display: none;
}
#gorge-source {
    display: none;
}
#pve-source {
    display: none;
}
#fl-source {
    display: none;
}
#overlay {
    display: flex;
    border-radius: 0.7rem;
    background-color: rgba(0,0,0,0.3);
}

body {
  margin: 0;
  user-select: none;
}
ol {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    flex-direction: column;
}
li {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  padding: 0.1rem 0.1rem;
  margin: 0.1rem 0.1rem;
}
.g-basic{
  flex-direction: row;
  width: -webkit-fill-available;
  border-left: 0.25rem solid;
  border-color: var(--aliance-color-general);
}
[class^="-number"], [class*="-number"] {

}
.gaming {
  /* 横長で虹色を作る */
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
  animation: gaming 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes gaming {
  /* backgroundを移動させる */
  100% { background-position-x: 200%; }
}
.gaming-color-font {
	background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
	background: -webkit-linear-gradient(left, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
	background: -o-linear-gradient(right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
	background: -moz-linear-gradient(right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
}
[class^="g-"], [class*="g-"],[class^="n-"], [class*="n-"],[class^="f-"], [class*="f-"]{
  display: flex;
}
.g-basic .g-dps-area{
  align-items: center;
  justify-content: flex-end;
  min-width: 5.8rem;
}
.g-basic .g-dps{
  flex-direction: column;
  margin-left: 0.2rem;
}
.g-basic .g-total-dps-number{
  font-size: 1.5rem;
  justify-content: flex-end;
}
.g-basic .g-total-hps-number{
  justify-content: flex-end;
  font-size: 0.8rem;
}
.g-basic .g-job-icon{
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-size: 1.5rem;
}
.g-basic .g-main-area{
  flex-direction: column;
  width: -webkit-fill-available;
}
.g-basic .g-name-area{
  flex-direction: row;
  width: -webkit-fill-available;
}
.g-basic .g-kill-death{
  max-width: 6rem;
  min-width: 6rem;
  font-size: 1.1rem;
  padding: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  justify-content: center;
  align-items: flex-end;
  border-left: 0.15rem solid;
}
.g-basic .g-line-color{
  border-color: #ded7be;
}
.g-basic .g-k-string,.g-basic .g-d-string{
  width: 1.3rem;
  justify-content: center;
}
.g-basic .g-kill-number,.g-basic .g-death-number{
  width:1.7rem;
  justify-content: center;
}
.g-basic .g-line,.g-basic .g-line2{
  width: calc(100% - 7.4rem);
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  border-width: 0.15rem 0px 0px 0px;
  border-style: solid;
  border-color: #ded7be;
}
.g-basic .g-damage-area{
  width: -webkit-fill-available;
}
.g-basic .g-damage-div {
  width: calc(25% - 3.45rem);
  align-items: center;
}
.g-basic .g-name{
  max-width: calc(100% - 17rem);
  min-width: calc(100% - 17rem);
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.g-basic .g-robot-history{
  width: calc(100% - 9rem - (100% - 18rem));
  align-items: center;
  padding-left: 0.2rem;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  border-left: 0.15rem solid;
}
.n-basic ,.f-basic{
  flex-direction: row;
}
.n-basic .n-title,.f-basic .f-title{
  flex-direction: column;
  width: -webkit-fill-available;
}
.n-basic .n-dps{
  width: 4.8rem;
  font-size: 1.3rem;
  align-items: center;
  justify-content: flex-end;
}
.n-basic .n-job ,.f-basic .f-job{
  width: 1.7rem;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  margin: 0 0.3rem;
}
.n-basic .n-name{
  align-items: center;
  overflow: hidden;
  white-space:nowrap;
  width: calc(100% - 9.3rem);
}
.n-basic .n-crit,.n-basic .n-direct,.n-basic .n-cridirect{
  width: 3rem;
  align-items: center;
  justify-content: flex-end;
}
.n-basic .n-cridirect{
  margin-right: 0.2rem;
}
.n-basic .n-bar ,.f-basic .f-bar{
    /*display: inline-block;*/
    height: 0.25rem;
    background-color: rgba(157,145,101,0.7);
}
.f-basic {
  border-left: 0.25rem solid;
  border-color: var(--aliance-color-general);
}
.f-basic .f-dps-space{
  min-width: 5.8rem;
  max-width: 5.8rem;
  align-items: center;
}
.f-basic .f-dps{
  width: 3.3rem;
  font-size: 1.3rem;
  align-items: center;
  justify-content: flex-end;
}
.f-basic .f-top{
  padding-right: 0.3rem;
}
.f-basic .f-name{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.f-basic .f-kill-string,.f-basic .f-death-string{
  font-size: 1.1rem;
  max-width: 1.7rem;
  min-width: 1.7rem;
  justify-content: flex-end;
}
.f-basic .f-kill-number,.f-basic .f-death-number{
  font-size: 1.1rem;
  max-width: 1.3rem;
  min-width: 1.3rem;
}
.inactive li .bar {
    background-color: #d8dadb;
}

li.death-too-much {
  background-color: rgba(255,0,0,0.3);
}
/*
.me {
  background-color: #F5D94E;
}*/
.party {
    background-color: rgba(37,92,80,0.5);
}
.me {
    background-color: rgba(93,81,37,0.7);
}
.aliance-border-1 {
  border-color:  var(--aliance-color-1)!important;
}
.aliance-border-2 {
  border-color:  var(--aliance-color-2)!important;
}
.aliance-border-3 {
  border-color:  var(--aliance-color-3)!important;
}
.aliance-border-4 {
  border-color:  var(--aliance-color-4)!important;
}
.aliance-border-5 {
  border-color:  var(--aliance-color-5)!important;
}
.aliance-border-6 {
  border-color:  var(--aliance-color-6)!important;
}
.aliance-background-1 {
  background-color:  var(--aliance-color-1)!important;
}
.aliance-background-2 {
  background-color:  var(--aliance-color-2)!important;
}
.aliance-background-3 {
  background-color:  var(--aliance-color-3)!important;
}
.aliance-background-4 {
  background-color:  var(--aliance-color-4)!important;
}
.aliance-background-5 {
  background-color:  var(--aliance-color-5)!important;
}
.aliance-background-6 {
  background-color:  var(--aliance-color-6)!important;
}
.aliance-font-1 {
  color:  var(--aliance-color-1)!important;
}
.aliance-font-2 {
  color:  var(--aliance-color-2)!important;
}
.aliance-font-3 {
  color:  var(--aliance-color-3)!important;
}
.aliance-font-4 {
  color:  var(--aliance-color-4)!important;
}
.aliance-font-5 {
  color:  var(--aliance-color-5)!important;
}
.aliance-font-6 {
  color:  var(--aliance-color-6)!important;
}

.role-font-tank {
  color: var(--tank-role-color)!important;
}
.role-font-healer {
  color: var(--healer-role-color)!important;
}
.role-font-melee {
  color: var(--melee-role-color)!important;
}
.role-font-physical {
  color: var(--physical-role-color)!important;
}
.role-font-magical {
  color: var(--magical-role-color)!important;
}
.role-font-general {
  color: var(--general-role-color)!important;
}
.role-border-tank {
  border-color: var(--tank-role-color)!important;
}
.role-border-healer {
  border-color: var(--healer-role-color)!important;
}
.role-border-melee {
  border-color: var(--melee-role-color)!important;
}
.role-border-physical {
  border-color: var(--physical-role-color)!important;
}
.role-border-magical {
  border-color: var(--magical-role-color)!important;
}
.role-border-general {
  border-color: var(--general-role-color)!important;
}
.role-background-tank {
  background-color: var(--tank-role-color)!important;
}
.role-background-healer {
  background-color: var(--healer-role-color)!important;
}
.role-background-melee {
  background-color: var(--melee-role-color)!important;
}
.role-background-physical {
  background-color: var(--physical-role-color)!important;
}
.role-background-magical {
  background-color: var(--magical-role-color)!important;
}
.role-background-general {
  background-color: var(--general-role-color)!important;
}
