:root{
  --default-color :#ded7be;
  --general-role-color : #ded7be;
  --tank-role-color : #7586e0;
  --healer-role-color : #76ab67;
  --melee-role-color : #ad6161;
  --physical-role-color : #ad6161;
  --magical-role-color : #ad6161;
  --aliance-color-general : transparent;
  --aliance-color-1 :#5BB7E5;
  --aliance-color-2 :#895BE5;
  --aliance-color-3 :#E55BB7;
  --aliance-color-4 :#E5895B;
  --aliance-color-5 :#B7E55B;
  --aliance-color-6 :#5BE589;
  --aliance-color-10 :transparent;
  --incomedamage-person : #C95F6A;
  --incomedamage-robot : #D77856;
  --incomedamage-object : #f1404b;
  --incomeheal-self :#FF8AAE;
  --incomeheal-party:#FFB2A6;
  --incomeheal-ally:#FFF89A;
  --incomeheal-other:#9ADCFF;
  --damage-person:#C95F6A;
  --damage-robot:#D77856;
  --damage-object:#4E9B86;
  --damage-tower:#4F8B97;
  --death-too-much:rgba(255,0,0,0.3);
  --party:rgba(37,92,80,0.5);
  --me:rgba(93,81,37,0.7);
  --robot-hp-remain : #84F8BD;
  --robot-hp-over : #EB4561;
  --losstime:darkred;
}
.losstime{
  color:var(--losstime);
}
.death-too-much {
  background-color: var(--death-too-much);
}
.party {
    background-color: var(--party);
}
.me {
    background-color: var(--me);
}
::-webkit-scrollbar {
  display: none;
}
html{
  font-size: 20px;
}
body{
  user-select: none;
  color: var(--default-color);
  font-family: 'Roboto', sans-serif;
  /*background-color: rgb(38 38 38);
  /*  background-color: rgba(0,0,0,0.3);*/
}
.source {
  display: none;
}
#overlay{
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.3);
  padding: 0 0.3rem 0.3rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
[class$="button"]{
  display: none;
}
.ui-tooltip{
  max-width: 90vw !important;
  background: rgb(38 38 38) !important;
}
.underline-text {
  text-decoration: underline;
}
.container::-webkit-scrollbar {
    display:none;
}
.ui-tooltip-content {
    color: var(--default-color);
    font-size: 0.6rem;
    background-color: rgb(38 38 38);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ui-widget {
  font-family: 'Roboto', sans-serif;
}
.dunamis_tensyon0{
  /*none*/
}
.dunamis_tensyon1{
  content: url("https://xivapi.com/i/061000/061351_hr1.png");
  background-size: cover;
}
.dunamis_tensyon2{
  content: url("https://xivapi.com/i/061000/061352_hr1.png");
  background-size: cover;
}
.dunamis_tensyon3{
  content: url("https://xivapi.com/i/061000/061353_hr1.png");
  background-size: cover;
}
.dunamis_tensyon4{
  content: url("https://xivapi.com/i/061000/061354_hr1.png");
  background-size: cover;
}
.dunamis_tensyon5{
  content: url("https://xivapi.com/i/061000/061355_hr1.png");
  background-size: cover;
}
.dunamis_tensyon6{
  content: url("https://xivapi.com/i/061000/061356_hr1.png");
  background-size: cover;
}
.dunamis_tensyon7{
  content: url("https://xivapi.com/i/061000/061357_hr1.png");
  background-size: cover;
}
.dunamis_tensyon8{
  content: url("https://xivapi.com/i/061000/061358_hr1.png");
  background-size: cover;
}
.dunamis_tensyon9{
  content: url("https://xivapi.com/i/061000/061359_hr1.png");
  background-size: cover;
}
.dunamis_tensyon10{
  content: url("https://xivapi.com/i/061000/061360_hr1.png");
  background-size: cover;
}
.dunamis_tensyon11{
  content: url("https://xivapi.com/i/061000/061361_hr1.png");
  background-size: cover;
}
.dunamis_tensyon12{
  content: url("https://xivapi.com/i/061000/061362_hr1.png");
  background-size: cover;
}
.dunamis_tensyon13{
  content: url("https://xivapi.com/i/061000/061363_hr1.png");
  background-size: cover;
}
.dunamis_tensyon14{
  content: url("https://xivapi.com/i/061000/061364_hr1.png");
  background-size: cover;
}
.dunamis_tensyon15{
  content: url("https://xivapi.com/i/061000/061365_hr1.png");
  background-size: cover;
}
.dunamis_tensyon16{
  content: url("https://xivapi.com/i/061000/061366_hr1.png");
  background-size: cover;
}
.dunamis_tensyon17{
  content: url("https://xivapi.com/i/061000/061367_hr1.png");
  background-size: cover;
}
.dunamis_tensyon18{
  content: url("https://xivapi.com/i/061000/061368_hr1.png");
  background-size: cover;
}
.dunamis_tensyon19{
  content: url("https://xivapi.com/i/061000/061369_hr1.png");
  background-size: cover;
}
.dunamis_tensyon20{
  content: url("https://xivapi.com/i/061000/061482_hr1.png");
  background-size: cover;
}
.dunamis_kouyou1{
  content: url("https://xivapi.com/i/061000/061483_hr1.png");
  background-size: cover;
}
.dunamis_kouyou2{
  content: url("https://xivapi.com/i/061000/061484_hr1.png");
  background-size: cover;
}
.dunamis_kouyou3{
  content: url("https://xivapi.com/i/061000/061485_hr1.png");
  background-size: cover;
}
.dunamis_kouyou4{
  content: url("https://xivapi.com/i/061000/061486_hr1.png");
  background-size: cover;
}
.dunamis_kouyou5{
  content: url("https://xivapi.com/i/061000/061487_hr1.png");
  background-size: cover;
}

[class^="incomedamage-"],[class^="incomeheal-"]{
  height: 0.2rem;
}
.incomeheal-self{
  background-color: var(--incomeheal-self);
}
.incomeheal-party{
  background-color: var(--incomeheal-party);
}
.incomeheal-ally{
  background-color: var(--incomeheal-ally);
}
.incomeheal-object{
  background-color: var(--incomeheal-other);
}
.incomedamage-player {
  background-color: var(--incomedamage-person);
}
.incomedamage-robot {
  background-color: var(--incomedamage-robot);
}
.incomedamage-object {
  background-color: var(--incomedamage-object);
}
.damage-person{
  background-color: var(--damage-person);
}
.damage-robot{
  background-color: var(--damage-robot);
}
.damage-object{
  background-color: var(--damage-object);
}
.damage-tower{
  background-color: var(--damage-tower);
}
/*Color Font*/
.damage-person-color{
  color: var(--damage-person);
}
.damage-robot-color{
  color: var(--damage-robot);
}
.damage-object-color{
  color: var(--damage-object);
}
.damage-tower-color{
  color: var(--damage-tower);
}
.heal-self-color{
  color: var(--incomeheal-self);
}
.heal-party-color{
  color: var(--incomeheal-party);
}
.heal-ally-color{
  color: var(--incomeheal-ally);
}
.heal-object-color{
  color: var(--incomeheal-other);
}
.incomeheal-self-color{
  color: var(--incomeheal-self);
}
.incomeheal-party-color{
  color: var(--incomeheal-party);
}
.incomeheal-ally-color{
  color: var(--incomeheal-ally);
}
.incomeheal-object-color{
  color: var(--incomeheal-other);
}
.incomedamage-player-color {
  color: var(--incomedamage-person);
}
.incomedamage-robot-color {
  color: var(--incomedamage-robot);
}
.incomedamage-object-color {
  color: var(--incomedamage-object);
}
/*  Aliance Color    */
.aliance-border-1 {
  border-color:  var(--aliance-color-1)!important;
}
.aliance-border-2 {
  border-color:  var(--aliance-color-2)!important;
}
.aliance-border-3 {
  border-color:  var(--aliance-color-3)!important;
}
.aliance-border-4 {
  border-color:  var(--aliance-color-4)!important;
}
.aliance-border-5 {
  border-color:  var(--aliance-color-5)!important;
}
.aliance-border-6 {
  border-color:  var(--aliance-color-6)!important;
}
.aliance-border-10 {
  border-color:  var(--aliance-color-10)!important;
}
/* role color*/
.role-background-tank {
  background-color: var(--tank-role-color)!important;
}
.role-background-healer {
  background-color: var(--healer-role-color)!important;
}
.role-background-melee {
  background-color: var(--melee-role-color)!important;
}
.role-background-physical {
  background-color: var(--physical-role-color)!important;
}
.role-background-magical {
  background-color: var(--magical-role-color)!important;
}
.role-background-general {
  background-color: var(--general-role-color)!important;
}
.tooltip-grid-jobicon-name-time{
  display: grid;
  grid-template-columns: 1rem max-content 3rem;
}
.tooltip-grid-assist{
  display: grid;
  grid-template-columns: 1rem max-content 2rem 1rem max-content 3rem;
}
.tooltip-grid-assist *{
  justify-self: center;
  align-self: center;
  grid-row-gap: 0.1rem;
}
.tooltip-grid-dps{
  display: grid;
  grid-template-columns: max-content max-content 1.2rem max-content 1.2rem max-content 1.2rem max-content ;
}
.tooltip-grid-total-dps *{
  margin:  0 0.2rem;
}
.tooltip-grid-dps .tooltip-grid-dps-text ,.tooltip-grid-hps .tooltip-grid-dps-text{
  padding:  0 0.1rem;
  margin:  0 0.2rem;
}
.tooltip-grid-dps *{
  justify-self: center;
  align-self: center;
  grid-row-gap: 0.2rem;
}
.tooltip-grid-jobicon-name-time *{
  justify-self: center;
  align-self: center;
}
.tooltip-grid-hps{
  display: grid;
  grid-template-columns: 1.2rem max-content 1.2rem max-content 1.2rem max-content 1.2rem max-content 1.2rem max-content ;
}
.tooltip-grid-hps *{
  justify-self: center;
  align-self: center;
  grid-row-gap: 0.2rem;
}
.tooltip-grid-puntch {
  display: grid;
  grid-column-gap: 0.4rem;
  grid-template-columns : max-content max-content max-content;
}
.tooltip-grid-puntch *{
  justify-self: center;
  align-self: center;
}
.tooltip-grid-jobhistory{
  display: grid;
  grid-template-columns : 1.3rem 1rem 1.3rem 2rem;
}
.tooltip-grid-jobhistory .jobicon{
  font-size: 0.9rem;
}
.tooltip-grid-jobhistory *{
  justify-self: center;
  align-self: center;
}
.tooltip-grid-income-heal {
  display: grid;
  grid-template-columns :1.2rem max-content 1.2rem max-content 1.2rem max-content 1.2rem max-content;
}
.tooltip-grid-income-heal *{
  justify-self: center;
  align-self: center;
  min-height: 0.64rem;
}
.tooltip-grid-income-damage {
  display: grid;
  grid-template-columns :1.2rem max-content 1.2rem max-content 1.2rem max-content;
}
.tooltip-grid-income-damage *,.tooltip-grid-income-damage .child{
  justify-self: center;
  align-self: center;
}
.tooltip-grid-income-damage .tooltip-grid-income-damage-number {
  padding-right: 0.2rem;
}
.tooltip-line {
  width: 100%;
  margin-top: 0.05rem;
  margin-bottom: 0.15rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  border-width: 0.1rem 0px 0px 0px;
  border-style: solid;
  border-color: var(--default-color);
}
.remain-hp {
  color : var(--robot-hp-remain);
}
.over-hp {
  color : var(--robot-hp-over);
}
.astarisk::after{
  content: '・';
  position: absolute;
  bottom: 55%;
  left: 50%;
  z-index: 1;
  color: royalblue;
}
/*Animamtion Text*/
.blinking {
    animation: 0.5s linear 0s alternate none infinite running blink;
}
@keyframes blink {
    0% { opacity: 0; }
    19.9% { opacity: 0; }
    20% { opacity: 1; }
    100% { opacity: 1; }
}
.gaming-robot::after{
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
  animation: gaming 2s linear infinite;
}
.gaming {
  /* 横長で虹色を作る */
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
  animation: gaming 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes gaming {
  /* backgroundを移動させる */
  100% { background-position-x: 200%; }
}
.gaming2-robot::after{
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
  animation: gaming 1s linear infinite;
}
.gaming2 {
  /* 横長で虹色を作る */
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
  animation: gaming 1s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green {
  background: #1EFF00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-robot::after {
  background: #1EFF00!important;
}
.blue {
  background: #0070FF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-robot::after {
  background: #0070FF!important;
}
.purple {
  background: #A335EE;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purple-robot::after {
  background: #A335EE!important;
}
.redteamicon{
  content: url("https://xivapi.com/i/061000/061378_hr1.png");
  background-size: cover;
}
.blueteamicon{
  content: url("https://xivapi.com/i/061000/061379_hr1.png");
  background-size: cover;
}
.generalteamicon{
  content: url("https://xivapi.com/i/061000/061480_hr1.png");
  background-size: cover;
}
.redteam{
  background: linear-gradient(to right, rgba(180, 56, 27, 0.5) 5%, 20%,rgba(180, 56, 27, 0.7));
}
.blueteam{
  background: linear-gradient(to right, rgba(27, 56, 180, 0.5) 5%, 20%,rgba(27, 56, 180, 0.7));
}
.generalteam{
  background: linear-gradient(to right, rgba(65, 65, 65, 0.5) 5%, 20%,rgba(65, 65, 65, 0.7));
}
/*
100%  : #E5CC80
99%   : #E268A8
95%   : #FF8000
75%   : #A335EE
50%   : #0070FF
25%   : #1EFF00

*/
