.pveOverlay {
    display: flex;
    margin: 0.15rem 0;
    overflow: hidden;
    border-radius: 1rem 0.2rem 0.2rem 1rem;
}

.pveOverlay .pveMainRow {
    position: relative;
    overflow: hidden;
}

.pveOverlay .backgroundGage {
    position: absolute;
    width: 102%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ease;
}

.pveOverlay .tank-background-gradient {
    background: linear-gradient(90deg, var(--transparent-tank-role-color) 0%, var(--transparent-tank-role-color) 98%, transparent 100%);
}

.pveOverlay .healer-background-gradient {
    background: linear-gradient(90deg, var(--transparent-healer-role-color) 0%, var(--transparent-healer-role-color) 98%, transparent 100%);
}

.pveOverlay .melee-background-gradient {
    background: linear-gradient(90deg, var(--transparent-melee-role-color) 0%, var(--transparent-melee-role-color) 98%, transparent 100%);
}

.pveOverlay .magical-background-gradient {
    background: linear-gradient(90deg, var(--transparent-magical-role-color) 0%, var(--transparent-magical-role-color) 98%, transparent 100%);
}

.pveOverlay .physical-background-gradient {
    background: linear-gradient(90deg, var(--transparent-physical-role-color) 0%, var(--transparent-physical-role-color) 98%, transparent 100%);
}

.pveOverlay .general-background-gradient {
    background: linear-gradient(90deg, var(--transparent-general-role-color) 0%, var(--transparent-general-role-color) 98%, transparent 100%);
}

.pveOverlay .dataArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.2rem;
}

.pveOverlay .jobicon {
    font-size: 1.4rem;
    max-height: 3rem;
    display: flex;
    align-items: center;
}

.pveOverlay .dpshps {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.pveOverlay .dps .dps-i {
    font-size: 1.2rem;
}

.pveOverlay .dps .dps-d {
    font-size: 0.8rem;
}

.pveOverlay .dps {
    display: flex;
    max-width: 3.5rem;
    min-width: 3.5rem;
    align-items: baseline;
    padding-right: 0.3rem;
    justify-content: flex-end;
    border-right: 0.1rem solid;
}

.pveOverlay .hps {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    max-width: 2.5rem;
    min-width: 2.5rem;
    height: -webkit-fill-available;
}

.pveOverlay .hps-overPct {
    margin-left: 0.3rem;
    font-size: 0.65rem;
    position: absolute;
    bottom: 0.9rem;
    right: 0;
}

.pveOverlay .hps-5 {
    font-size: 0.8rem;
}

.pveOverlay .hps-d {
    height: 100%;
    padding-left: 0.3rem;
    position: relative;
}

.pveOverlay .nameArea {
    width: 100%;
    margin-left: 0.2rem;
}

.pveOverlay .nameAreaTop {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.pveOverlay .name {
    width: calc(100vw - 9rem);
    position: relative;
}

.pveOverlay .PctSpace {
    display: flex;
    font-size: 0.65rem;
    top: -0.5rem;
    right: 0;
    position: absolute;
}

.pveOverlay .PctSpace * {
    width: 1.5rem;
    display: flex;
    justify-content: flex-end;
}