@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

:root {
  --default-color: #ded7be;
  /*--background-color:rgba(0,0,0,0.3);*/
  --tank-role-color: #7586e0;
  --healer-role-color: #76ab67;
  --melee-role-color: #ad6161;
  --physical-role-color: #ad6161;
  --magical-role-color: #ad6161;
  --general-role-color: var(--default-color);
  --transparent-tank-role-color: #7587e0B0;
  --transparent-healer-role-color: #76ab67B0;
  --transparent-melee-role-color: #ad6161B0;
  --transparent-physical-role-color: #ad6161B0;
  --transparent-magical-role-color: #ad6161B0;
  --transparent-general-role-color: #ded7beB0;
  --death-too-much: rgba(255, 0, 0, 0.3);
  --party: rgba(37, 92, 80, 0.5);
  --me: rgba(93, 81, 37, 0.7);

  --alliance-color-general: transparent;
  --alliance-color-1: #5BB7E5;
  --alliance-color-2: #895BE5;
  --alliance-color-3: #E55BB7;
  --alliance-color-4: #E5895B;
  --alliance-color-5: #B7E55B;
  --alliance-color-6: #5BE589;
  --alliance-color-10: transparent;

  --alliance-transparent-color-0: transparent;
  --alliance-transparent-color-1: #5BB7E5B0;
  --alliance-transparent-color-2: #895BE5B0;
  --alliance-transparent-color-3: #E55BB7B0;
  --alliance-transparent-color-4: #E5895BB0;
  --alliance-transparent-color-5: #B7E55BB0;
  --alliance-transparent-color-6: #5BE589B0;
  --alliance-transparent-color-10: transparent;

  --death-too-much: rgba(255, 0, 0, 0.3);
  --party: rgba(37, 92, 80, 0.5);
  --me: rgba(93, 81, 37, 0.7);
  --death: #EB4561;
  --robot-hp-remain: #84F8BD;
  --robot-hp-over: var(--death);
  --losstime: darkred;

  --root-padding: 0.6rem;

  --dps-gray: #666666;
  --dps-green: #1EFF00;
  --dps-blue: #0070FF;
  --dps-purple: #A335EE;
  --dps-orange: #FF8000;
  --dps-pink: #E268A8;
  --dps-yellow: #E5CC80;

  --dps-transparent-gray: #66666688;
  --dps-transparent-green: #1EFF0088;
  --dps-transparent-blue: #0070FF88;
  --dps-transparent-purple: #A335EE88;
  --dps-transparent-orange: #FF800088;
  --dps-transparent-pink: #E268A888;
  --dps-transparent-yellow: #E5CC8088;

  --rootFontSize: 16px;

  /*
100%  : #E5CC80
99%   : #E268A8
95%   : #FF8000
75%   : #A335EE
50%   : #0070FF
25%   : #1EFF00
*/
}

html {
  font-size: var(--rootFontSize);
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  /*font-family: 'Bebas Neue', cursive;*/
  font-family: 'Roboto', sans-serif;
  /*background-color: #373737;*/
  color: var(--default-color);
  user-select: none;
  white-space: nowrap;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bebasText {
  font-family: 'Bebas Neue', cursive;
}

.me_background {
  background: linear-gradient(90deg, var(--me) 0%, var(--me) 98%, transparent 100%);
}

.tank-background-gradient {
  background: linear-gradient(90deg, var(--transparent-tank-role-color) 0%, var(--transparent-tank-role-color) 98%, transparent 100%);
}

.healer-background-gradient {
  background: linear-gradient(90deg, var(--transparent-healer-role-color) 0%, var(--transparent-healer-role-color) 98%, transparent 100%);
}

.melee-background-gradient {
  background: linear-gradient(90deg, var(--transparent-melee-role-color) 0%, var(--transparent-melee-role-color) 98%, transparent 100%);
}

.magical-background-gradient {
  background: linear-gradient(90deg, var(--transparent-magical-role-color) 0%, var(--transparent-magical-role-color) 98%, transparent 100%);
}

.physical-background-gradient {
  background: linear-gradient(90deg, var(--transparent-physical-role-color) 0%, var(--transparent-physical-role-color) 98%, transparent 100%);
}

.general-background-gradient {
  background: linear-gradient(90deg, var(--transparent-general-role-color) 0%, var(--transparent-general-role-color) 98%, transparent 100%);
}

.dps-background-gradient-gray {
  background: linear-gradient(90deg, var(--dps-transparent-gray) 0%, var(--dps-transparent-gray) 98%, transparent 100%);
}

.dps-background-gradient-green {
  background: linear-gradient(90deg, var(--dps-transparent-green) 0%, var(--dps-transparent-green) 98%, transparent 100%);
}

.dps-background-gradient-blue {
  background: linear-gradient(90deg, var(--dps-transparent-blue) 0%, var(--dps-transparent-blue) 98%, transparent 100%);
}

.dps-background-gradient-purple {
  background: linear-gradient(90deg, var(--dps-transparent-purple) 0%, var(--dps-transparent-purple) 98%, transparent 100%);
}

.dps-background-gradient-orange {
  background: linear-gradient(90deg, var(--dps-transparent-orange) 0%, var(--dps-transparent-orange) 98%, transparent 100%);
}

.dps-background-gradient-pink {
  background: linear-gradient(90deg, var(--dps-transparent-pink) 0%, var(--dps-transparent-pink) 98%, transparent 100%);
}

.dps-background-gradient-yellow {
  background: linear-gradient(90deg, var(--dps-transparent-yellow) 0%, var(--dps-transparent-yellow) 98%, transparent 100%);
}